!  Set & bollen data types

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(f"Union of {set1} and {set2} is {union_set}")

Union of {1, 2, 3} and {3, 4, 5} is {1, 2, 3, 4, 5}

**Character Example:**

In [ ]:
set_a = {'a', 'b', 'c'}
set_b = {'c', 'd', 'e'}
union_set_char = set_a.union(set_b)
print(f"Union of {set_a} and {set_b} is {union_set_char}")

Union of {'a', 'b', 'c'} and {'c', 'd', 'e'} is {'c', 'a', 'b', 'd', 'e'}

### `intersection()`

The `intersection()` method returns a new set containing only the elements that are present in all the specified sets.

**Numeric Example:**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(f"Intersection of {set1} and {set2} is {intersection_set}")

Intersection of {1, 2, 3} and {3, 4, 5} is {3}

**Character Example:**

In [ ]:
set_a = {'a', 'b', 'c'}
set_b = {'c', 'd', 'e'}
intersection_set_char = set_a.intersection(set_b)
print(f"Intersection of {set_a} and {set_b} is {intersection_set_char}")

Intersection of {'a', 'b', 'c'} and {'c', 'd', 'e'} is {'c'}

### `difference()`

The `difference()` method returns a new set containing elements that are in the first set but not in the other specified sets.

**Numeric Example:**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(f"Difference of {set1} and {set2} is {difference_set}")

Difference of {1, 2, 3} and {3, 4, 5} is {1, 2}

**Character Example:**

In [ ]:
set_a = {'a', 'b', 'c'}
set_b = {'c', 'd', 'e'}
difference_set_char = set_a.difference(set_b)
print(f"Difference of {set_a} and {set_b} is {difference_set_char}")

Difference of {'a', 'b', 'c'} and {'c', 'd', 'e'} is {'a', 'b'}

### `difference_update()`

The `difference_update()` method removes all elements of another set from the original set. This method modifies the original set in place and does not return a new set.

**Numeric Example:**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.difference_update(set2)
print(f"set1 after difference_update with {set2} is {set1}")

set1 after difference_update with {3, 4, 5} is {1, 2}

**Character Example:**

In [ ]:
set_a = {'a', 'b', 'c'}
set_b = {'c', 'd', 'e'}
set_a.difference_update(set_b)
print(f"set_a after difference_update with {set_b} is {set_a}")

set_a after difference_update with {'c', 'd', 'e'} is {'a', 'b'}

### `symmetric_difference()`

The `symmetric_difference()` method returns a new set with the elements that are in exactly one of the sets.

**Numeric Example:**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference_set = set1.symmetric_difference(set2)
print(f"Symmetric difference of {set1} and {set2} is {symmetric_difference_set}")

Symmetric difference of {1, 2, 3} and {3, 4, 5} is {1, 2, 4, 5}

**Character Example:**

In [ ]:
set_a = {'a', 'b', 'c'}
set_b = {'c', 'd', 'e'}
symmetric_difference_set_char = set_a.symmetric_difference(set_b)
print(f"Symmetric difference of {set_a} and {set_b} is {symmetric_difference_set_char}")

Symmetric difference of {'a', 'b', 'c'} and {'c', 'd', 'e'} is {'a', 'b', 'd', 'e'}

### `issubset()`

The `issubset()` method returns `True` if all elements of a set are present in another set (the superset), and `False` otherwise.

**Numeric Example:**

In [ ]:
set1 = {1, 2}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print(f"Is {set1} a subset of {set2}? {is_subset}")

Is {1, 2} a subset of {1, 2, 3, 4, 5}? True

**Character Example:**

In [ ]:
set_a = {'a', 'b'}
set_b = {'a', 'b', 'c', 'd', 'e'}
is_subset_char = set_a.issubset(set_b)
print(f"Is {set_a} a subset of {set_b}? {is_subset_char}")

Is {'a', 'b'} a subset of {'c', 'a', 'b', 'd', 'e'}? True

### `issuperset()`

The `issuperset()` method returns `True` if a set contains all elements of another set (the subset), and `False` otherwise.

**Numeric Example:**

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2}
is_superset = set1.issuperset(set2)
print(f"Is {set1} a superset of {set2}? {is_superset}")

Is {1, 2, 3, 4, 5} a superset of {1, 2}? True

**Character Example:**

In [ ]:
set_a = {'a', 'b', 'c', 'd', 'e'}
set_b = {'a', 'b'}
is_superset_char = set_a.issuperset(set_b)
print(f"Is {set_a} a superset of {set_b}? {is_superset_char}")

Is {'c', 'a', 'b', 'd', 'e'} a superset of {'a', 'b'}? True

### `isdisjoint()`

The `isdisjoint()` method returns `True` if two sets have no elements in common. If they have at least one common element, it returns `False`.

**Numeric Example:**

In [ ]:
set1 = {1, 2}
set2 = {3, 4, 5}
are_disjoint = set1.isdisjoint(set2)
print(f"Are {set1} and {set2} disjoint? {are_disjoint}")

Are {1, 2} and {3, 4, 5} disjoint? True

**Character Example:**

In [ ]:
set_a = {'a', 'b'}
set_b = {'c', 'd', 'e'}
are_disjoint_char = set_a.isdisjoint(set_b)
print(f"Are {set_a} and {set_b} disjoint? {are_disjoint_char}")

Are {'a', 'b'} and {'c', 'd', 'e'} disjoint? True

In [ ]:
class_a = {"Aarav", "Vivaan", "Aditya", "Rohan", "Yash", "Siddharth", "Manav", "Rahul"}
class_b = {"Riya", "Sneha", "Aditya", "Rahul", "Ishita", "Manav", "Kavya", "Yash"}

In [ ]:
#The code print(class_a.union(class_b))
#finds all the unique students from both class_a and class_b and prints them out.
print(class_a.union(class_b)),
len(class_a.union(class_b))

{'Vivaan', 'Kavya', 'Aditya', 'Aarav', 'Sneha', 'Rahul', 'Yash', 'Rohan', 'Manav', 'Riya', 'Ishita', 'Siddharth'}

12

In [ ]:
print(class_b.union(class_a)),
len(class_b.union(class_a))

{'Vivaan', 'Kavya', 'Aditya', 'Aarav', 'Sneha', 'Rahul', 'Yash', 'Rohan', 'Riya', 'Ishita', 'Manav', 'Siddharth'}

12

In [ ]:
#The code print(class_a.intersection(class_b))
#finds the students who are common to both class_a and class_b.
print(class_a.intersection(class_b)),
len(class_a.intersection(class_b))

{'Yash', 'Aditya', 'Manav', 'Rahul'}

4

In [ ]:
print(class_b.intersection(class_a)),
len(class_b.intersection(class_a))

{'Yash', 'Aditya', 'Manav', 'Rahul'}

4

In [ ]:
print(class_a)
print(class_b)
#The code print(class_a.difference(class_b))
#finds the students who are in class_a but not in class_b.
print(class_a.difference(class_b)),
len(class_a.difference(class_b))

{'Vivaan', 'Aditya', 'Aarav', 'Rahul', 'Yash', 'Rohan', 'Manav', 'Siddharth'}
{'Kavya', 'Aditya', 'Sneha', 'Rahul', 'Yash', 'Riya', 'Ishita', 'Manav'}
{'Vivaan', 'Rohan', 'Siddharth', 'Aarav'}

4

In [ ]:
print(class_b.difference(class_a)),
len(class_b.difference(class_a))

{'Riya', 'Sneha', 'Ishita', 'Kavya'}

4

In [ ]:
#The code print(class_a.difference_update(class_b))
#modifies the class_a set in-place by removing all students that are also present in class_b.
print(class_a.difference_update(class_b))
len(class_a.difference_update(class_b))

None

TypeError: object of type 'NoneType' has no len()

In [ ]:
print(class_b.difference_update(class_a))
len(class_b.difference_update(class_a))

None

TypeError: object of type 'NoneType' has no len()

In [ ]:
#The code print(class_a.symmetric_difference(class_b))
#finds the students who are in either class_a or class_b,
#but not in both.
print(class_a.symmetric_difference(class_b)),
len(class_a.symmetric_difference(class_b))

{'Vivaan', 'Kavya', 'Aditya', 'Aarav', 'Sneha', 'Rahul', 'Yash', 'Rohan', 'Riya', 'Ishita', 'Manav', 'Siddharth'}

12

In [ ]:
print(class_b.symmetric_difference(class_a)),
len(class_b.symmetric_difference(class_a))

{'Riya', 'Kavya', 'Yash', 'Vivaan', 'Sneha', 'Rohan', 'Aditya', 'Manav', 'Ishita', 'Siddharth', 'Rahul', 'Aarav'}

12

In [ ]:
print(class_a.issubset(class_b))
print(class_b.issubset(class_a))
#The code in this cell checks the subset relationship between class_a and class_b

False
False

In [ ]:
print(class_a.issuperset(class_b))
print(class_b.issuperset(class_a))
#The code in this cell checks the superset relationship between class_a and class_b

False
False

# Boolean Data Type

The boolean data type represents one of two values: `True` or `False`. Booleans are often the result of comparison operations.

**Properties of Booleans:**

* **Represents Truth Values:** Booleans are used to represent the truth or falsehood of an expression.
* **Used in Control Flow:** They are fundamental for controlling the flow of a program using conditional statements like `if`, `elif`, and `else`.

---
## Boolean Functions and Operations with Examples

While there are not as many "built-in functions" for booleans in the same way as for sets, booleans are used with logical operators.

### `bool()`

The `bool()` function can be used to convert other data types to a boolean. In general, `0`, `None`, and empty collections are `False`, while everything else is `True`.

**Numeric Examples:**

In [ ]:
print(f"bool(0) is {bool(0)}")
print(f"bool(1) is {bool(1)}")
print(f"bool(-10) is {bool(-10)}")

bool(0) is False
bool(1) is True
bool(-10) is True

**Character/String Examples:**

In [ ]:
print(f"bool('') is {bool('')}")
print(f"bool('a') is {bool('a')}")
print(f"bool('Hello') is {bool('Hello')}")

bool('') is False
bool('a') is True
bool('Hello') is True

### `and` operator

The `and` operator returns `True` if both operands are true.

**Numeric Example (using comparisons):**

In [ ]:
x = 5
y = 10
result = x > 0 and y < 20
print(f"{x} > 0 and {y} < 20 is {result}")

5 > 0 and 10 < 20 is True

**Character Example (using comparisons):**

In [ ]:
char1 = 'a'
char2 = 'b'
result_char = char1 == 'a' and char2 == 'c'
print(f"{char1} == 'a' and {char2} == 'c' is {result_char}")

a == 'a' and b == 'c' is False

### `or` operator

The `or` operator returns `True` if at least one of the operands is true.

**Numeric Example (using comparisons):**

In [ ]:
x = 5
y = 10
result = x > 10 or y < 20
print(f"{x} > 10 or {y} < 20 is {result}")

5 > 10 or 10 < 20 is True

**Character Example (using comparisons):**

In [ ]:
char1 = 'a'
char2 = 'b'
result_char = char1 == 'a' or char2 == 'c'
print(f"{char1} == 'a' or {char2} == 'c' is {result_char}")

a == 'a' or b == 'c' is True

### `not` operator

The `not` operator reverses the logical state of its operand.

**Numeric Example (using comparisons):**

In [ ]:
x = 5
result = not(x > 10)
print(f"not({x} > 10) is {result}")

not(5 > 10) is True

**Character Example (using comparisons):**

In [ ]:
char1 = 'a'
result_char = not(char1 == 'a')
print(f"not({char1} == 'a') is {result_char}")

not(a == 'a') is False

# Operators in Python

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

---
## Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations.

| Operator | Name           | Example     |
|----------|----------------|-------------|
| `+`      | Addition       | `x + y`     |
| `-`      | Subtraction    | `x - y`     |
| `*`      | Multiplication | `x * y`     |
| `/`      | Division       | `x / y`     |
| `%`      | Modulus        | `x % y`     |
| `**`     | Exponentiation | `x ** y`    |
| `//`     | Floor division | `x // y`    |

---
### Examples

In [ ]:
x = 10
y = 3

print(f"{x} + {y} = {x + y}")
print(f"{x} - {y} = {x - y}")
print(f"{x} * {y} = {x * y}")
print(f"{x} / {y} = {x / y}")
print(f"{x} % {y} = {x % y}")
print(f"{x} ** {y} = {x ** y}")
print(f"{x} // {y} = {x // y}")

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10 % 3 = 1
10 ** 3 = 1000
10 // 3 = 3

---
## Comparison Operators

Comparison operators are used to compare two values.

| Operator | Name                       | Example     |
|----------|----------------------------|-------------|
| `==`     | Equal                      | `x == y`    |
| `!=`     | Not equal                  | `x != y`    |
| `>`      | Greater than               | `x > y`     |
| `<`      | Less than                  | `x < y`     |
| `>=`     | Greater than or equal to   | `x >= y`    |
| `<=`     | Less than or equal to      | `x <= y`    |

---
### Examples

In [ ]:
x = 10
y = 3

print(f"{x} == {y} is {x == y}")
print(f"{x} != {y} is {x != y}")
print(f"{x} > {y} is {x > y}")
print(f"{x} < {y} is {x < y}")
print(f"{x} >= {y} is {x >= y}")
print(f"{x} <= {y} is {x <= y}")

char1 = 'a'
char2 = 'b'

print(f"'{char1}' == '{char2}' is {char1 == char2}")
print(f"'{char1}' != '{char2}' is {char1 != char2}")
print(f"'{char1}' > '{char2}' is {char1 > char2}")
print(f"'{char1}' < '{char2}' is {char1 < char2}")
print(f"'{char1}' >= '{char2}' is {char1 >= char2}")
print(f"'{char1}' <= '{char2}' is {char1 <= char2}")

10 == 3 is False
10 != 3 is True
10 > 3 is True
10 < 3 is False
10 >= 3 is True
10 <= 3 is False
'a' == 'b' is False
'a' != 'b' is True
'a' > 'b' is False
'a' < 'b' is True
'a' >= 'b' is False
'a' <= 'b' is True

---
## Logical Operators

Logical operators are used to combine conditional statements.

| Operator | Description                                             | Example               |
|----------|---------------------------------------------------------|-----------------------|
| `and`    | Returns True if both statements are true                | `x < 5 and  x < 10`   |
| `or`     | Returns True if one of the statements is true           | `x < 5 or x < 4`      |
| `not`    | Reverse the result, returns False if the result is true | `not(x < 5 and x < 10)`|

---
### Examples

In [ ]:
x = 10
y = 3

print(f"({x} > 0) and ({y} < 5) is {(x > 0) and (y < 5)}")
print(f"({x} > 0) or ({y} > 5) is {(x > 0) or (y > 5)}")
print(f"not({x} > 0) is {not(x > 0)}")

(10 > 0) and (3 < 5) is True
(10 > 0) or (3 > 5) is True
not(10 > 0) is False

---
## Bitwise Operators

Bitwise operators are used to compare (binary) numbers.

| Operator | Name                 | Description                                                                 |
|----------|----------------------|-----------------------------------------------------------------------------|
| `&`      | AND                  | Sets each bit to 1 if both bits are 1                                       |
| `|`      | OR                   | Sets each bit to 1 if one of two bits is 1                                  |
| `^`      | XOR                  | Sets each bit to 1 if only one of two bits is 1                             |
| `~`      | NOT                  | Inverts all the bits                                                        |
| `<<`     | Zero fill left shift | Shift left by pushing zeros in from the right and let the leftmost bits fall off |
| `>>`     | Signed right shift   | Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off |

---
### Examples

In [ ]:
x = 10  # 1010
y = 4   # 0100

print(f"{x} & {y} = {x & y}")   # 0000
print(f"{x} | {y} = {x | y}")   # 1110
print(f"{x} ^ {y} = {x ^ y}")   # 1110
print(f"~{x} = {~x}")          # -1011
print(f"{x} << 2 = {x << 2}") # 101000
print(f"{x} >> 2 = {x >> 2}") # 0010

10 & 4 = 0
10 | 4 = 14
10 ^ 4 = 14
~10 = -11
10 << 2 = 40
10 >> 2 = 2

---
## Assignment Operators

Assignment operators are used to assign values to variables.

| Operator | Example   | Same As      |
|----------|-----------|--------------|
| `=`      | `x = 5`   | `x = 5`      |
| `+=`     | `x += 3`  | `x = x + 3`  |
| `-=`     | `x -= 3`  | `x = x - 3`  |
| `*=`     | `x *= 3`  | `x = x * 3`  |
| `/=`     | `x /= 3`  | `x = x / 3`  |
| `%=`     | `x %= 3`  | `x = x % 3`  |
| `//=`    | `x //= 3` | `x = x // 3` |
| `**=`    | `x **= 3` | `x = x ** 3` |
| `&=`     | `x &= 3`  | `x = x & 3`  |
| `|=`     | `x |= 3`  | `x = x | 3`  |
| `^=`     | `x ^= 3`  | `x = x ^ 3`  |
| `>>=`    | `x >>= 3` | `x = x >> 3` |
| `<<=`    | `x <<= 3` | `x = x << 3` |

---
### Examples

In [ ]:
x = 10
x += 5
print(f"x += 5 is {x}")

x = 10
x -= 5
print(f"x -= 5 is {x}")

x = 10
x *= 5
print(f"x *= 5 is {x}")

x += 5 is 15
x -= 5 is 5
x *= 5 is 50

---
## Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

| Operator | Description                               | Example    |
|----------|-------------------------------------------|------------|
| `is`     | Returns `True` if both variables are the same object | `x is y`   |
| `is not` | Returns `True` if both variables are not the same object | `x is not y`|

---
### Examples

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(f"x is z: {x is z}")
print(f"x is y: {x is y}")
print(f"x == y: {x == y}")

print(f"x is not z: {x is not z}")
print(f"x is not y: {x is not y}")

x is z: True
x is y: False
x == y: True
x is not z: False
x is not y: True

---
## Membership Operators

Membership operators are used to test if a sequence is presented in an object.

| Operator | Description                                                                      | Example    |
|----------|----------------------------------------------------------------------------------|------------|
| `in`     | Returns `True` if a sequence with the specified value is present in the object   | `x in y`   |
| `not in` | Returns `True` if a sequence with the specified value is not present in the object | `x not in y`|

---
### Examples

In [ ]:
x = ["apple", "banana"]

print(f"'banana' in x: {'banana' in x}")
print(f"'pineapple' not in x: {'pineapple' not in x}")

'banana' in x: True
'pineapple' not in x: True